body{
    background-image: url("img/pic.jpg");
    background-repeat: repeat;
    background-position: left bottom;
    background-attachment: fixed;
    background-size: 100% auto;
}

.all-content{
    margin-left: 200px;
    margin-right: 200px;
}

.logo-title{
    text-align: center;
    background-color: rgba(245,222,179,0.63);
    border-radius: 10px;
}

.logo-png{
    width: 100px;
    height: 80px;
}

.title-png{
    width:400px;
    height: 80px;
}
.list-content{
    font-family: STXINWEI;
    font-size: larger;
    height: 800px;
    text-align: center;
}

.left-resList{
    float:left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 15px;
    width: 25%;
    height: inherit;
    background-color: rgba(20,145,200,0.4);
}
.res-select{
    background-color: cadetblue;
    height:60px;
    line-height: 60px;
    opacity: 0.75;
    font-size:x-large;
    border-radius: 2px;
    border: aqua;
}
.res-select:hover{
    background-color: rgb(50,125,180);
}

.right-foodList{
    float:left;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 15px;
    width: 75%;
    height: inherit;
    background-color: rgba(170,225,160,0.4);
}

.menu-title{
    background-color: rgba(90,180,200,0.4);
    margin: auto;
    margin-bottom: 10px ;
    width: 200px;
    height: 40px;
    text-align: center;
    font-family: "STXINWEI";
    line-height: 40px;
    border-radius: 50px;
}

.food-pics{
    margin: auto;
}

.food-info{
    width: 50px;
    height: 50px;
    background-color: rgba(180,215,180,0.5);
    border-radius: 8px;
}

.food-info img{
    border-radius: 20px;
    max-width: 180px;
    max-height: 180px;
}

.food-text{
    margin: auto;
}

.copyright{
    text-align: center;
    font-family: cursive;
}
